
#robotbanner {
    width: 100%;
    height: 405px;
    background-image: url("/images/logorobot.jpg");
    background-size: cover;
    background-position: center;
    text-align: left;
}
#navigation {
    margin: 10px;
    padding: 10px 20px;
    border: solid red 1px;
}

body {
    background-color: lightblue;
}

* {
    color: rgb(4, 68, 4);
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

#About {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid red 1px;
}

#Experience {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid red 1px;
}

#Connect {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid red 1px;
    text-align: center;
}

h1 {

    font-size: 40px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

h2 {
   font-size: 20px;
    font-weight: bold;
    color: gray;
}

h5, #Copyright{
    font-size: 10px;
    font-weight: bold;
    color: gray;
}