
.container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;
    background-image: url('../images/techbackground.jpg');
    background-color: aqua;
    margin-left: 0;
    margin-right: 0; 
    
}

/* Banner */

.Banner {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center; 
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.Banner-image img{

    height: 350px;
    border-radius: 20%;
    justify-content: flex-end;
   
}

/* Navigation bar */

#navigation {
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    margin: 10px 0px;
    padding: 10px 0px;
    align-self: center;
    z-index: ;
    
}
.nav {
    width: 100%;
    text-decoration: none;
    color:black;
    display: inline-block;  
    padding: 10px 10px;
    text-align: center;
    margin: 10px;
    border: solid black 1px;
    background-color: rgb(125, 153, 178); 
}

.nav:hover{
    background-color:rgb(81, 81, 197);
}
/* General body and background  */
body {
    background-color: lightblue;
}

* {
    color: rgb(5, 69, 5);
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

h1 {

    font-size: 40px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(85, 84, 84);
}

h5, #Copyright{
    font-size: 10px;
    font-weight: bold;
    color: gray;
}
ul {
    list-style-type: none;
}
/* About Section*/
#About {
    display: flex;
    box-sizing: ;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
.About_body {
    align-self: flex-end;
}
.About_image img{
    margin: 10px;
    border-radius: 100%;
    width: 150px;
    
}
/* Experience Section */
#Experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    /* box-sizing: border-box; */
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
.Experience {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

    
}
    
.Experience li{
    
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    border: solid black 1px;
}

#Experience-list {
    background-color: rgb(161, 122, 197);
}

/* Skills Section */
#Skills{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
/* Project Section */
#Projects{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
/* Connect Section */
#Connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    /*border: solid red 1px;*/
    text-align: center;
}
.Connect{
    display: inline-block;
    border-radius: 15%;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    border: solid black 1px;
    color: #000;
  /* background metallic gray*/
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
}

.Connect:hover{
    background-color: rgb(99, 99, 193);
}

