body {
    background-color: lightblue;
}

* {
    color: rgb(4, 68, 4);
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

#About {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid red 1px;
}

#Experience {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid red 1px;
}

#Connect {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid red 1px;
}