/* Create whole page background */
body {
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0) 60%, rgba(135, 206, 235, 0.8) 100%), 
    url('../images/Technology\ background\ light\ blue.jpg');
    /* background-image: url('../images/Technology\ background\ light\ blue.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0; 
    
}
/* Design for header banner image */
.container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;
    background-image: url('../images/techbackground.jpg');
    background-color: aqua;
    margin-left: 0;
    margin-right: 0; 
    
}

/* Banner */

.Banner {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center; 
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.Banner-image img{

    height: 350px;
    border-radius: 20%;
    justify-content: flex-end;
}

/* Navigation bar */

#navigation {
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    margin: 10px 0px;
    padding: 10px 0px;
    align-self: center;
    
    
}
.nav {
    width: 100%;
    text-decoration: none;
    color:white;
    display: inline-block;  
    padding: 12px 24px;
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 4px;
    transition:all 0.3s ease;
    cursor: pointer;
    /* background-color: #0077b6; */
    background-color: rgb(125, 153, 178); 
}
/* adding glow when you hover over nav buttons */
.nav:hover{
    background-color: #0096c7;
    transform: translateY(-3px); 
    box-shadow: 0 0 15px rgba(0, 180, 216, 0.7); 
}
/* General body and background  */
body {
    background-color: lightblue;
}

* {
    color: rgb(5, 69, 5);
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

h1 {
    text-shadow: 1px 1px 2px white;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    font-style: italic;
}

h2 {
    text-shadow: 1px 1px 2px white;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(85, 84, 84);
}

h5, #Copyright{
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}
ul {
    list-style-type: none;
}
/* About Section*/
#About {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-sizing: ; */
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
.About_body {
    align-self: flex-end;
}
.About_image img{
    margin: 10px;
    border-radius: 100%;
    width: 150px;
    
}
/* Experience Section */
#Experience {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    /* box-sizing: border-box; */
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
.Experience {
    display: flex;
    flex-direction: row;
    
    /* justify-content: space-around; */

    
}

.Experience-list {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;

}
.Experience-item{
    background-color: plum;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 45%; 
    border: solid black 1px;
    padding: 10px;

}
.Job-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    padding: 20px;
    
}
.job-title{
    background-color: rgb(190, 136, 190);
    padding: 30px; 
    font-weight: bold;
    margin-right: 5px;
}
.job-dates{
    background-color: rgb(190, 136, 190);
    padding: 30px; 
    text-decoration: underline;
}
.Job-description{
    background-color: rgb(190, 136, 190);
    margin: 10px 20px;
}

/* Skills Section */
#Skills{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
/* Project Section */
#Projects{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
/* Connect Section */
#Connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    /*border: solid red 1px;*/
    text-align: center;
}
.Connect-buttons{
    display: flex;
    justify-content: space-evenly;
}
.Connect{
    display: inline-block;
    border-radius: 15%;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    border: solid black 1px;
    color: #000;
    /* background metallic gray*/
    background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
    );
}

.Connect:hover{
    background-color: rgb(99, 99, 193);
}

