/* Create whole page background */
body {
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0) 60%, rgba(135, 206, 235, 0.8) 100%), 
    url('../images/Technology\ background\ light\ blue.jpg');
    /* background-image: url('../images/Technology\ background\ light\ blue.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0; 
    
}
/* Design for header banner image */
.container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;
    background-image: url('../images/techbackground.jpg');
    background-color: aqua;
    margin-left: 0;
    margin-right: 0; 
    
}

/* Banner */

.Banner {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center; 
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
.Banner-name {
    margin-top: 1rem;
    padding-right: 1em;
}
.Banner-image img{
    margin-top: 1rem;
    height: 25vw;
    border-radius: 20%;
    justify-content: flex-end;
}

/* Navigation bar */

#navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0px;
    align-self: center;
    z-index: 1000;
    flex-wrap: wrap;
    
    
}

.nav {
    
    text-decoration: none;
    color:white;
    flex-shrink: 0;
    display: inline-block;
    
    padding: 10px 20px;
    text-align: center;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;   
    transition:all 0.3s ease;
    cursor: pointer;
    background-color: rgb(125, 153, 178); 
}
#menu-toggle:checked~.nav{
    display:flex;
}
/* adding glow when you hover over nav buttons */
.nav:hover{
    background-color: #0096c7;
    transform: translateY(-3px); 
    box-shadow: 0 0 15px rgba(0, 180, 216, 0.7); 
}
/* General body and background  */
body {
    background-color: lightblue;
}
a {
    text-decoration: none;
}
* {
    color: rgb(5, 69, 5);
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

h1 {
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(135, 206, 235, 0.8);
    font-style: italic;
}

h2 {
    text-shadow: 1px 1px 2px white;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(70, 105, 137);
}

h5{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(70, 105, 137);
}
ul {
    list-style-type: none;
}
/* About Section*/
#About {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-sizing: ; */
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
.About_body {
    align-self: flex-end;
}
.About_image img{
    margin: 10px;
    border-radius: 100%;
    width: 150px;
    
}
/* Experience Section */
#Experience {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    /* box-sizing: border-box; */
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
.Experience {
    display: flex;
    flex-direction: row;
    
    /* justify-content: space-around; */

    
}

.Experience-list {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;

}
.Experience-item{
    background-color: plum;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%; 
    border: solid black 1px;
    padding: 10px;
    border-radius: 10px;

}
.Job-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    align-items:baseline;
    padding: 20px;
    flex-wrap: wrap;
    
}
.job-title{
    background-color: rgb(190, 136, 190);
    padding: 20px; 
    font-weight: bold;
    margin-right: 5px;
}
.job-dates{
    background-color: rgb(190, 136, 190);
    padding: 30px; 
    text-decoration: underline;
}
.Job-description{
    background-color: rgb(190, 136, 190);
    padding: 10px;
    margin: 10px 20px;
}

/* Skills Section */
#Skills{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}
#Skills h2{
    display: flex;
    justify-content: center;
}
.skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 1rem;
}
.skill-item{
    text-shadow: 1px 1px 2px white;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1em;
    background-color: rgb(190, 136, 190);
    color: rgb(22, 23, 23);
}

/* Project Section */
#Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
    max-width: 1200px;
}
.Projects_title h2{
    text-align: center;
    font-size: 2rem;
}
.Project_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 20px;
    width: 100%;
    padding: 0;
}
.repoList{
    background: rgb(190, 136, 190);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px whitesmoke;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.repoList:hover{
    transform: translateY(-5px);
}
li.repoList a{
    color:rgb(22, 23, 23);
    
    
}

/* Connect Section */
#Connect {
    /* display: flex; */
    display: grid;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 20px; 
    /*border: solid red 1px;*/
    text-align: center;
    grid-template: 92px 92px / 400px;
}
.Connect img{
    height: 1.5em;
    
}

.Connect-buttons{
    display: flex;
    justify-content: space-evenly;
}
.Connect{
    display: inline-block;
    border-radius: 15%;
    box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
    margin: 10px;
    border: solid black 1px;
    color: #000;
    /* background metallic gray*/
    background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
    );
    transition: all 0.3s ease;
    
}

.Connect:hover{
    background-color: #0096c7;
    transform: translateY(-3px); 
    box-shadow: 0 0 15px rgba(0, 180, 216, 0.7); 
}
/* Form Section */
#Form{
    display:flex;
    flex-direction: column;
    margin: 2rem;
    border: 1em;
    padding: 15px;
    background: rgb(190, 136, 190);
    border: 1px solid gray;
    border-radius: 10px;
}
#Form h2{
    text-align: center;
}
label{
    text-shadow: 1px 1px 2px white;
    color: rgb(38, 62, 85);
    font-size: 1.2rem;
}
#messageBody{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    
}
input, textarea{
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 15rem;
    box-sizing: border-box;
}
button {
    background-color: #6a89a7;
    color: white;
    padding: 1.5em;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background 0.3sec ease;
    cursor: pointer;
    font-size: 1em;
}
button:hover{
    background-color: #0096c7;
    transform: translateY(-3px); 
    box-shadow: 0 0 15px rgba(0, 180, 216, 0.7); 
}

/* User Messages Section */
#Messages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#Messages ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#Messages li{
    display: flex;
    flex-direction: column;
    background: rgb(190, 136, 190);
    border-radius: 12px;
    padding: 15px;
    border: 1px solid gray;
    margin: 2rem;

}

#Messages li a{
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px white;
}
#Messages li a:hover{
    cursor: pointer;
    color:red;
}
#Messages li span{
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px white;
}
#Messages li button {
    background-color: #6a89a7;
    color: white;
    /* padding: 1.5em; */
    border: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background 0.3sec ease;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 1rem auto;
    
}
#Messages li button:hover{
    background-color: #0096c7;
    transform: translateY(-3px); 
    box-shadow: 0 0 15px rgba(0, 180, 216, 0.7); 
}


/* Footer section */
.footer p{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-shadow: 1px 1px 2px white;
    color: #526970;
    font-size: 1rem;
    padding: .5em;
}


/* Tablet Styles  min-width: 768px*/
@media (min-width: 768px) {
    #navigation{
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.5rem;
        margin: 10px 0px;
        padding: 10px 0px;
    }
    .Banner-image img{
        padding-bottom: 10px;
    }
    a.nav{
        margin-top: 10px;
    }
    .nav {
        width: auto;
        padding: 12px 25px;
        margin: 0 10px;   
    }
    .Banner {
        justify-content: space-evenly;
    }
    .Job-header{
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .skill-list{
        justify-content: space-between;
    }
    #Connect{
        grid-template: 92px 100px / 600px;

    }
    .Connect img{
    height: 3em; 
    }
    #Form{
        margin: 5rem auto;
        max-width: 400px;
        width: 90%;
    }
    #Messages li{
        margin: 2rem auto;
        max-width: 500px;
        list-style: none;

    }
    #Messages li button{
        display: block;
        margin: 1rem auto;
    }
    
    .footer p{
        padding: 1em;
    }

}
/* Desktop styles min-width: 1024px */
@media (min-width: 1024px){
    .Banner-image img{
        height: 20vw;
        padding-bottom: 10px;
    } 
    .nav {
        width: auto;
        padding: 12px 50px;
        margin: 0 10px; 
        text-shadow: 1px 1px 2px rgb(21, 20, 25);  
    }
    h1 {
        color: black;
        font-size: 4rem;
    }
    h2 {
        color: rgb(87, 86, 86);
        font-size: 2rem;
        text-shadow: 1px 1px 2px rgb(147, 145, 155);
    }
    h5 {
        color: gray;
        font-size: .5rem;
    }
    .Experience-item{
        max-width: 30%;
    }
    .skill-list{
        justify-content: space-evenly;
    }
    
    #Connect{
        grid-template: 92px 100px / 800px;

    }
    .Connect img{
    height: 2.5em; 
    }
    #Form{
        margin: 5rem auto;
        max-width: 500px;
        width: 90%;
    }
    #Messages li{
        margin: 2rem auto;
        max-width: 600px;
        list-style: none;

    }
    #Messages li button{
        display: block;
        margin: 1rem auto;
    }
    
}