/* Banner */
#robotbanner {
    width: 100%;
    height: 405px;
    background-image: url("/images/logorobot.jpg");
    background-size: cover;
    background-position: center;
    text-align: left;
}
/* Navigation bar */
#navigation {
    margin: 10px;
    padding: 10px 20px;
    /*border: solid red 1px;*/
    
}
.nav {
    text-decoration: none;
    color:black;
   display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
    margin: 1px;
    border: solid black 1px;
    background-color: rgb(170, 208, 242); 
}

.nav:hover{
    background-color:rgb(81, 81, 197);
}
/* General body and background  */
body {
    background-color: lightblue;
}

* {
    color: rgb(5, 69, 5);
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

h1 {

    font-size: 40px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

h2 {
   font-size: 30px;
    font-weight: bold;
    color: rgb(85, 84, 84);
}

h5, #Copyright{
    font-size: 10px;
    font-weight: bold;
    color: gray;
}

/* Sections of Body*/
#About {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}

#Experience {
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border: solid black 1px;
}

.Experience li{
    list-style-type: none;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    border: solid black 1px;
}

#CdT {
    background-color: rgb(148, 141, 174);
}
#Ccademy {
    background-color: rgb(126, 93, 156);
}
#CIP {
    background-color: blueviolet;
}
#ProcessEn {
    background-color: rgb(109, 61, 154);
}

#Connect {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    /*border: solid red 1px;*/
    text-align: center;
}
.Connect{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    border: solid black 1px;
    background-color: aliceblue;
}

.Connect:hover{
    background-color: rgb(99, 99, 193);
}

